<h1 class="span8 offset2">Message for <%= @person.full_name %>.</h1>


<%= form_tag(people_url, method: 'post', :class => 'clearfix form-horizontal span6 offset2') do %>
  <%= text_area_tag :text, "" , :class => "span8" %>

  <%= hidden_field_tag :created_at, Time.new %>
  <%= hidden_field_tag :user_id, @user.id %>
  <%= hidden_field_tag :person_id, @person.id %>

    <div class="button-align">
      <button type="submit" class="btn btn-primary span3">Create Post</button>
    </div>
<% end %>
