<h1>New Guest Post</h1>


<%= form_tag(guest_posts_url, method: 'post') do %>


  <div>
    <%= label_tag :text %><br />
    <%= text_field_tag :text %>
  </div>

    <div>
    <%= label_tag :created_at %><br />
    <%= datetime_select_tag :created_at %>
  </div>

    <div>
    <%= label_tag :user_id %><br />
    <%= number_field_tag :user_id %>
  </div>

    <div>
    <%= label_tag :person_id %><br />
    <%= number_field_tag :person_id %>
  </div>

  
  <div>
    <%= submit_tag "Create Guest Post" %>
  </div>
<% end %>
