<h1>Guest Post #<%= @guest_post.id %></h1>

<p>
  <b>Text:</b>
  <%= @guest_post.text %>
</p>

<p>
  <b>Created at:</b>
  <%= @guest_post.created_at %>
</p>

<p>
  <b>User:</b>
  <%= @guest_post.user_id %>
</p>

<p>
  <b>Person:</b>
  <%= @guest_post.person_id %>
</p>


