<h1>Editing Person #<%= @person.id %></h1>


<%= form_tag(person_url(@person), method: 'put') do %>

  <div>
    <%= label_tag :dob %><br />
    <%= datetime_select_tag :dob, @person.dob %>
  </div>

  <div>
    <%= label_tag :dod %><br />
    <%= datetime_select_tag :dod, @person.dod %>
  </div>

  <div>
    <%= label_tag :full_name %><br />
    <%= text_field_tag :full_name, @person.full_name %>
  </div>

  <div>
    <%= label_tag :quote %><br />
    <%= text_field_tag :quote, @person.quote %>
  </div>

  <div>
    <%= label_tag :eulogy %><br />
    <%= text_field_tag :eulogy, @person.eulogy %>
  </div>

  <div>
    <%= label_tag :charity %><br />
    <%= text_field_tag :charity, @person.charity %>
  </div>

  <div>
    <%= label_tag :photo_url %><br />
    <%= text_field_tag :photo_url, @person.photo_url %>
  </div>

  
  <div>
    <%= submit_tag "Update Person" %>
  </div>

<% end %>
