<h1>My Tributes</h1>

<h4><%= link_to 'Add a New Person', new_person_url %></h4>

<% @people.each do |person| %>
      <div class="hero-unit">
        <div class="media">
          <a class="pull-left">
            <%= image_tag person.photo_url, :class => "media-object img-circle index-img-circle" %>
          </a>
          <div class="media-body">
            <h2 class="media-heading"><%= link_to person.full_name, person %></h2>
            <p><%= person.dob %> to <%= person.dod %></p>
            <div class="media">
                <h4>
                  <%= image_tag "iconmonstr-quote-5-icon.png", :class => "quote-icon" %> <%= person.quote %>
                  <%= image_tag "iconmonstr-quote-6-icon.png", :class => "quote-icon" %>
                </h4>
              <%= link_to image_tag("iconmonstr-eye-6-icon.png", :class => 'edit-button'), person_url(person.id) %>
              <%= link_to image_tag("iconmonstr-edit-9-icon.png", :class => 'edit-button'), edit_person_url(person.id) %>
              <%= link_to image_tag("iconmonstr-trash-can-15-icon.png", :class => 'edit-button'), person_url(person.id), :method => 'delete', data: { confirm: "Do you really want to delete this post?" } %>


            </div>
          </div>
        </div>
      </div>
<% end %>
