
<div class="left-col">
  <%= image_tag @person.photo_url %>
</div>

<div class="right-col">
  <h1><%= @person.full_name %></h1>
  <h5><%= @person.dob %> - <%= @person.dod %></h5>

<h4>
  <%= image_tag "iconmonstr-quote-5-icon.png", :class => "quote-icon" %> <%= @person.quote %>
  <%= image_tag "iconmonstr-quote-6-icon.png", :class => "quote-icon" %>
</h4>

<p>
  <b>Eulogy:</b>
  <%= @person.eulogy %>
</p>

<p>
  <b>Charity:</b>
  <%= @person.charity %>
</p>

</div>

<div class="guest_post_container clearfix">
  <div class="button-header">
      <% if session[:user_id].present? %>
          <a href="<%= new_guest_post_url %>?person_id=<%= @person.id %>"><button class="btn btn-primary btn-large span3">Add a Guest Post</button></a>
      <% else %>
        <a href="/auth/facebook"><button class="btn btn-primary btn-large span3 offset2">Sign in via Facebook</button></a>
      <% end %>
  </div>

    <% @person.guest_posts.each do |post| %>
      <div class="clearfix hero-unit">
        <div class="media">
          <a class="pull-left">
            <%= image_tag post.user.avatar, :class => "media-object img-circle" %>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><%= post.user.full_name %></h4>
            <div class="media">
              <% if post.text.length >= 1 %>
                <p>"<%= post.text %>"</p>
              <% else %>
                <br />
              <% end %>
              <h5><%= distance_of_time_in_words(post.created_at, to_time = Time.now, include_seconds = false) %> ago
              <%= link_to image_tag("iconmonstr-trash-can-15-icon.png", :class => 'right edit-button'), guest_post_url(post.id), :method => 'delete', data: { confirm: "Do you really want to delete this post?" } %>
              <%= link_to image_tag("iconmonstr-edit-9-icon.png", :class => 'right edit-button'), edit_guest_post_url(post.id) %>
              </h5>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
