<h1>Person #<%= @person.id %></h1>

<p>
  <b>Dob:</b>
  <%= @person.dob %>
</p>

<p>
  <b>Dod:</b>
  <%= @person.dod %>
</p>

<p>
  <b>Full name:</b>
  <%= @person.full_name %>
</p>

<p>
  <b>Quote:</b>
  <%= @person.quote %>
</p>

<p>
  <b>Eulogy:</b>
  <%= @person.eulogy %>
</p>

<p>
  <b>Charity:</b>
  <%= @person.charity %>
</p>

<p>
  <b>Photo url:</b>
  <%= @person.photo_url %>
</p>


